@use "style/mixin";
@use "style/function";
@use "style/settings";

.inner {
  border: 2px solid;
  width: calc((100% - (24px * 3)) / 4);
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  &:hover,
  &:focus {
    .thumbnail {
      img {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.main {
  .title {
    color: settings.$color-white;
    background-color: settings.$color-black;
    font-size: 1em;
    width: 100%;
    padding: 0.5em 1em;
  }

  .description {
    font-size: function.fz(14);
    padding: 1em;
  }
}

.thumbnail {
  height: 8.2em;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.externalIcon {
  width: 1.25em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
