@import "style/mixin";
@import "style/function";
@import "style/settings";

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include tab {
    &::after {
      content: "";
      display: block;
      width: calc((100% - 2em) / 3);
    }
  }
  @include lap {
    &::before,
    &::after {
      content: "";
      display: block;
      width: calc((100% - 3em) / 4);
    }

    &::before {
      order: 1;
    }
  }

  li {
    width: calc((100% - 1em) / 2);
    margin-bottom: 1em;
    @include tab {
      width: calc((100% - 2em) / 3);
    }
    @include lap {
      width: calc((100% - 3em) / 4);
    }
  }

  a {
    display: block;
    height: 100%;
    box-shadow: 3px 3px 4px #ddd;
    border: 1px solid $color-black;
    border-radius: 5px;
    @include lap {
      box-shadow: inherit;
    }

    @include lap {
      &:hover {
        transform: translate(0, -5px);
        box-shadow: 3px 4px 6px #ddd;
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2.5em 8px 1em;
    text-align: center;
    height: 100%;
  }

  &__title {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-size: fz(16);
    text-transform: capitalize;
  }

  &__titleSub {
    display: block;
    font-size: fz(14);
    color: #8f8f8f;
  }

  &__icon {
    width: 50px;
    margin-bottom: em(16, 10);

    img {
      width: 100%;
    }
  }
}
