@import "style/mixin";
@import "style/function";
@import "style/settings";

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.footer {
  background-color: $color-footer-background;
  color: $color-text-secondary;
  padding: 4em 0 2em;

  &__container {
    width: 90%;
    margin: 0 auto;
  }

  &__logo {
    padding-bottom: em(16, 28);
    margin-bottom: em(16, 32);
    border-bottom: 1px solid $color-white;
  }

  &__subTitle {
    display: block;
    margin-top: em(16, 4);
  }
}

.sitemap {
  &__title {
    font-size: fz(18);
    border-left: 5px solid $color-text-secondary;
    padding: em(18, 4) 1em;
    margin-bottom: em(18, 16);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: em(16, 24);

    @include lap {
      margin-bottom: em(16, 32);
    }
  }

  &__item {
    width: 50%;
    margin-bottom: em(16, 24);

    @include lap {
      width: 25%;
    }
  }
}

.sitemapList {
  list-style: none;
  padding-left: em(16, 16);
  line-height: 2;
}

.sns {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lap {
      margin-bottom: en(16, 32);
    }

    li + li {
      margin-left: 1em;
    }

    a {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: $color-twitter;
    position: relative;

    img {
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.secondaryNavi {
  list-style: none;
  margin-top: em(16, 16);

  @include tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    font-size: fz(14);
    text-align: center;

    @include tab {
      padding: 0 em(14, 16);
    }
  }

  &__item + &__item {
    margin-top: em(14, 4);

    @include tab {
      margin-top: 0;
      border-left: 1px solid $color-white;
    }
  }
}

.copywrite {
  text-align: center;
  margin-top: em(16, 8);

  small {
    font-size: fz(14);
  }
}
