@use "style/mixin";
@use "style/function";
@use "style/settings";

.hero {
  background-image: url("/public/images/hero-top-sp.png");
  background-size: contain;
  padding-top: 128%;
  position: relative;

  @include mixin.tab {
    background-image: url("/public/images/hero-top-tab.png");
    padding-top: 67.71%;
  }

  @include mixin.lap {
    background-image: url("/public/images/hero-top-pc.png");
    padding-top: 44.17%;
  }

  &__inner {
    width: 90.67vw;
    padding: 11vw 0 12vw 7vw;
    margin: 0 auto;
    background-image: url("/public/images/hero-box.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mixin.tab {
      width: 67vw;
      padding: 10vw 0 11vw 11vw;
    }

    @include mixin.lap {
      width: 46.74vw;
      padding: 7vw 0 7vw 8vw;
    }
  }

  &__copy {
    font-size: 3.73vw;
    margin-top: -1em;
    font-family: "vdl-yotag";
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.06em;

    @include mixin.tab {
      font-size: 2.08vw;
    }

    @include mixin.lap {
      font-size: 1.11vw;
      letter-spacing: 0.4em;
    }
  }

  &__title {
    margin-top: 0.125em;

    @include mixin.tab {
      margin-top: 0.25em;
    }

    img {
      width: 66vw;
      max-width: inherit;

      @include mixin.tab {
        width: 37vw;
      }

      @include mixin.lap {
        width: 26vw;
      }
    }
  }

  &__subTitle {
    font-size: 3.73vw;
    text-align: right;
    margin: 0.25em 18vw 0 0;
    font-family: "ta-hougan-k500";

    @include mixin.tab {
      font-size: 2.08vw;
      margin-right: 19vw;
    }

    @include mixin.lap {
      font-size: 1.11vw;
      margin-right: 13vw;
    }
  }
}

.globalNav {
  color: settings.$color-text-secondary;
  background-color: settings.$color-globalNav-background;
  padding: 0.5em 0 0;

  @include mixin.tab {
    padding-top: 0.75em;
  }

  @include mixin.lap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
  }

  &__title {
    padding: 0 1em 0.5em;
    @include mixin.lap {
      padding: 0;
    }
  }

  &__subTitle {
    margin-left: 0.5em;
    font-family: "ta-hougan-k500";
    vertical-align: bottom;
  }

  a {
    display: inline-block;
  }
}

.menu {
  list-style: none;
  overflow: auto;

  &__inner {
    min-width: 440px;
    font-size: 0;

    @include mixin.tab {
      text-align: right;
    }
  }

  &__list {
    display: inline-block;
    font-size: function.fz(16);

    a {
      display: block;
      padding: function.em(16, 10) function.em(16, 16);
      min-width: 80px;
      border-left: 1px solid settings.$color-globalNav-background;
      border-right: 1px solid settings.$color-globalNav-background;

      @include mixin.lap {
        padding: function.em(16, 20) 1em;
      }

      &:hover {
        color: settings.$color-text-primary;
        background-color: settings.$color-body-background;
      }
    }
  }
}

.heroChild {
  background-image: url("/public/images/hero-child-sp.png");
  background-size: contain;
  padding-top: 64%;
  position: relative;
  @include mixin.tab {
    background-image: url("/public/images/hero-child-tab.png");
    padding-top: 41.93%;
  }
  @include mixin.lap {
    background-image: url("/public/images/hero-child-pc.png");
    padding-top: 16.67%;
  }

  &__inner {
    padding: 6vw 0 7vw;
    text-align: center;
    width: 78.67vw;
    background: url("/public/images/hero-box-child.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mixin.tab {
      width: 47.23vw;
      padding: 4vw 0 5vw;
    }
    @include mixin.lap {
      width: 33.85vw;
      padding: 3.5vw 0 4vw;
    }
  }

  &__title {
    text-transform: capitalize;
    font-size: 8.53vw;
    @include mixin.tab {
      font-size: 5.28vw;
    }
    @include mixin.lap {
      font-size: 3.33vw;
    }
  }
}
