// --- color ---
$color-black: #0d0d0d;
$color-gray: #8f8f8f;
$color-offWfite: #e5e5e5;
$color-white: #fafafa;
$color-skyBlue: #f0f8ff;
$color-yellow: #fff657;
$color-cyan: #58b2d8;
$color-blue: #1169be;
$color-pink: #f77f79;
$color-red: #e83015;

// --- color brands---
$color-twitter: #1da1f2;
$color-facebook: #3c5a99;
$color-line: #00b900;
$color-googlePlus: #dd5144;
$color-youtube: #da1725;

// --- color set text ---
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-text-sub: $color-gray;

// --- color set background ---
$color-globalNav-background: $color-black;
$color-body-background: $color-white;
$color-footer-background: $color-black;
