@use "style/mixin";
@use "style/function";
@use "style/settings";

/**
 * 共通スタイル
 */
.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main {
  padding: function.em(16, 48) 0 function.em(16, 64);
  @include mixin.lap {
    padding: function.em(16, 64) 0;
  }
}

.section {
  padding: function.em(16, 24) 0 function.em(16, 16);
  @include mixin.lap {
    padding: function.em(16, 32) 0 function.em(16, 16);
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.titlePrimary {
  font-family: "Limelight", cursive;
  text-transform: capitalize;
  line-height: 1;
  font-size: function.fz(32);
  margin-bottom: function.em(32, 28);

  &__ja {
    display: block;
    font-size: function.em(32, 18);
    color: settings.$color-gray;
    font-family: "kan415typos-std", sans-serif;
  }
}
