@import "style/mixin";
@import "style/function";
@import "style/settings";

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

// hero
.hero {
  background-image: url("/hero-top-sp.png");
  background-size: contain;
  padding-top: 128%;
  position: relative;

  @include tab {
    background-image: url("/hero-top-tab.png");
    padding-top: 67.71%;
  }

  @include lap {
    background-image: url("/hero-top-pc.png");
    padding-top: 44.17%;
  }

  &__inner {
    width: 90.67vw;
    padding: 11vw 0 12vw 7vw;
    margin: 0 auto;
    background-image: url("/hero-box.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tab {
      width: 67vw;
      padding: 10vw 0 11vw 11vw;
    }

    @include lap {
      width: 46.74vw;
      padding: 7vw 0 7vw 8vw;
    }
  }

  &__copy {
    font-size: 3.73vw;
    margin-top: -1em;
    font-family: "vdl-yotag";
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.12em;

    @include tab {
      font-size: 2.08vw;
    }

    @include lap {
      font-size: 1.11vw;
      letter-spacing: 0.48em;
    }
  }

  &__title {
    margin-top: 0.125em;

    @include tab {
      margin-top: 0.25em;
    }

    img {
      width: 66vw;
      max-width: inherit;

      @include tab {
        width: 37vw;
      }

      @include lap {
        width: 26vw;
      }
    }
  }

  &__subTitle {
    font-size: 3.73vw;
    text-align: right;
    margin: 0.25em 18vw 0 0;
    font-family: "ta-hougan-k500";

    @include tab {
      font-size: 2.08vw;
      margin-right: 19vw;
    }

    @include lap {
      font-size: 1.11vw;
      margin-right: 13vw;
    }
  }
}

.news {
  &__wrapper {
    display: flex;
  }
}
