@use "style/mixin";
@use "style/function";
@use "style/settings";

.header {
  margin-bottom: function.em(16, 24);
}

.button {
  display: block;
  padding: 0 function.em(16, 8) 0 2em;
  position: relative;
  @include mixin.lap {
    cursor: pointer;
    display: inline-block;
  }

  &::before {
    border: 1px solid;
    border-color: settings.$color-black settings.$color-black transparent
      transparent;
    content: "";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    width: 10px;
  }

  & + & {
    margin: function.em(16, 10) 0 0;
    @include mixin.lap {
      margin: 0 0 0 function.em(16, 32);
    }
  }

  &.isActive {
    font-weight: bold;

    &::before {
      border: 2px solid;
      border-color: settings.$color-black settings.$color-black transparent
        transparent;
      height: 13px;
      transform: translate(0, -70%) rotate(135deg);
      width: 13px;
    }
  }
}

.title {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: function.em(16, 24);

  &__main {
    font-family: "Limelight", cursive;
    font-size: function.fz(24);
    line-height: 1;
    text-transform: capitalize;
  }

  &__ja {
    color: settings.$color-gray;
    display: block;
    font-family: "kan415typos-std", sans-serif;
    font-size: function.fz(14);
  }

  &__icon {
    margin-right: function.em(16, 10);
    width: 32px;

    img {
      width: 100%;
    }
  }
}

.childTab {
  display: none;
}

.isShow {
  display: block;
}
