@use "style/mixin";
@use "style/function";
@use "style/settings";

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: -1em;
  @include mixin.tab {
    &::after {
      content: "";
      display: block;
      width: calc((100% - 2em) / 3);
    }
  }
  @include mixin.lap {
    &::before,
    &::after {
      content: "";
      display: block;
      width: calc((100% - 3em) / 4);
    }

    &::before {
      order: 1;
    }
  }

  li {
    margin-bottom: 1em;
    width: calc((100% - 1em) / 2);
    @include mixin.tab {
      width: calc((100% - 2em) / 3);
    }
    @include mixin.lap {
      width: calc((100% - 3em) / 4);
    }
  }

  a {
    border: 1px solid settings.$color-black;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #ddd;
    display: block;
    height: 100%;
    @include mixin.lap {
      box-shadow: inherit;
    }

    @include mixin.lap {
      &:hover {
        box-shadow: 3px 4px 6px #ddd;
        transform: translate(0, -5px);
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    padding: 2.5em 8px 1em;
    text-align: center;
  }

  &__title {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-size: function.fz(16);
  }

  &__titleSub {
    color: #8f8f8f;
    display: block;
    font-size: function.fz(14);
  }

  &__icon {
    margin-bottom: function.em(16, 10);
    width: 50px;

    img {
      width: 100%;
    }
  }
}
