@use "style/mixin";
@use "style/function";
@use "style/settings";

.wrapper {
  list-style: none;
  margin-bottom: -1em;
  width: 100%;

  @include mixin.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &::before,
  &::after {
    @include mixin.lap {
      content: "";
      display: block;
      width: calc((100% - (24px * 3)) / 4);
    }
  }

  &::before {
    order: 1;
  }
}

.item {
  margin-bottom: 1em;
  width: 100%;

  @include mixin.tab {
    width: calc((100% - 16px) / 2);
  }
  @include mixin.lap {
    margin-bottom: function.em(16, 24);
    width: calc((100% - (24px * 3)) / 4);
  }
}

.wrap {
  height: 100%;
}

.thumbnail {
  height: 8.2em;
  overflow: hidden;
  position: relative;
  z-index: 0;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.inner {
  border: 2px solid;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: flex-end;
  position: relative;

  &:hover,
  &:focus {
    .thumbnail {
      img {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }

      &::after {
        background-color: rgba(0, 0, 0, 0.35);
      }
    }
  }
}

.hasExternalIcon {
  &::after {
    background-image: url("/public/icons/external-link-wh.svg");
    content: "";
    display: block;
    height: 1.25em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1.25em;
  }
}

.title {
  color: settings.$color-text-secondary;
  font-size: function.fz(18);
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 1;
}
