@use "style/mixin";
@use "style/function";
@use "style/settings";

.footer {
  background-color: settings.$color-footer-background;
  color: settings.$color-text-secondary;
  padding: 4em 0 2em;

  &__container {
    width: 90%;
    margin: 0 auto;
  }

  &__logo {
    padding-bottom: function.em(16, 28);
    margin-bottom: function.em(16, 32);
    border-bottom: 1px solid settings.$color-white;
  }

  &__subTitle {
    display: block;
    margin-top: function.em(16, 4);
    font-family: "ta-hougan-k500";
  }
}

.sitemap {
  &__title {
    font-size: function.fz(18);
    border-left: 5px solid settings.$color-text-secondary;
    padding: function.em(18, 4) 1em;
    margin-bottom: function.em(18, 16);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: function.em(16, 24);

    @include mixin.lap {
      margin-bottom: function.em(16, 32);
    }
  }

  &__item {
    width: 50%;
    margin-bottom: function.em(16, 24);

    @include mixin.lap {
      width: 25%;
    }
  }
}

.sitemapList {
  list-style: none;
  padding-left: function.em(16, 16);
  line-height: 2;

  a {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }
}

.sns {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixin.lap {
      margin-bottom: function.em(16, 32);
    }

    li + li {
      margin-left: 1em;
    }

    a {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: settings.$color-twitter;
    position: relative;

    img {
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.secondaryNavi {
  list-style: none;
  margin-top: function.em(16, 16);

  @include mixin.tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    font-size: function.fz(14);
    text-align: center;

    @include mixin.tab {
      padding: 0 function.em(14, 16);
    }
  }

  &__item + &__item {
    margin-top: function.em(14, 4);

    @include mixin.tab {
      margin-top: 0;
      border-left: 1px solid settings.$color-white;
    }
  }
}

.copywrite {
  text-align: center;
  margin-top: function.em(16, 8);

  small {
    font-size: function.fz(14);
  }
}
